
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/Content/img/favicon.png">
    <title>Hesap Güncelle</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/Content/js/html5shiv.js"></script>
    <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" method="post" action="/User/UpdateUser">
            <h2 class="form-signin-heading">Hesap Güncelle</h2>
            <div class="login-wrap">
                <p>Bilgilerinizi giriniz</p>
                <input type="text" name="userName" class="form-control" placeholder="Kullanıcı Adı" autofocus>
                <input type="text" name="userPassword" class="form-control" placeholder="Şifre" autofocus>
                <input type="text" name="mail" class="form-control" placeholder="Mail" Name" autofocus>
                <input type="text" name="firstName" class="form-control" placeholder="Ad" autofocus>
                <input type="text" name="lastName" class="form-control" placeholder="Soy Ad" autofocus>

            </div>
            <div class="radios">

                <button class="btn btn-lg btn-login btn-block" type="submit">Güncelle</button>

            </div>
        </form>
    </div>

</body>
</html>
